*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgba(186, 192, 196, 0.749);

}
.container{
    width: 1200px;
    margin: auto;
}
/* =========== footer section start ============== */
.footer-section{
    background: #000;
}
.footer-content{
    color: #fff;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer-inner{
    padding: 50px;
}
.footer-inner p{
    margin: 10px 0px;
    line-height: 23px;
}
.footer-inner .icon, .shopping, .link, .newsletter, ul{
    list-style: none;
    margin-top: 15px;
}
.footer-inner .icon li{
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    position: relative;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    
}
.newsletter input{
    border: none;
    border-bottom:1px solid #fff ;
    background: #000;
    padding: 10px 15px;
}
.shopping, .link, ul li{
    margin: 10px 0px;
}
/* footer section responsive here */
@media only screen and (max-width:480px){
    .container{
        width: 90%;
    }
    .footer-content{
        background: #000;
        color: #fff;
        height:100vh;
        grid-template-columns: 1fr ;
        text-align: center;
    }
}